@import './variables';

.margin-left-sm {
    margin-left: 5px;
}

.margin-left-md {
    margin-left: 10px;
}

.margin-left-lg {
    margin-left: 15px;
}

.margin-right-sm {
    margin-right: 5px;
}

.margin-right-md {
    margin-right: 10px;
}

.margin-right-lg {
    margin-right: 15px;
}

.margin-center {
    margin: 0 auto;
}

